<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ECSHOP 管理中心 - 添加新商品 </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__PUBLIC__/Admin/Styles/general.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Admin/Styles/main.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript" language="JavaScript" src="__PUBLIC__/datepicker/jquery-1.7.2.min.js"></script>
</head>
<body>
<h1>
    <span class="action-span"><a href="{:U('Goods/goodsList')}">商品列表</a>
    </span>
    <span class="action-span1"><a href="__GROUP__">管理中心</a></span>
    <span id="search_id" class="action-span1"> - 添加新商品 </span>
    <div style="clear:both"></div>
</h1>

<div class="tab-div">
    <div id="tabbar-div">
        <p>
            <span class="tab-front" id="general-tab">通用信息</span>
        </p>
    </div>
    <div id="tabbody-div">
        <form method="post" action="__SELF__" enctype="multipart/form-data" name = 'goods_form'>
            商品名称：<input type="text" name="goods_name"/><br>
            商品价格：<input type="text" name="price"/><br>
            商品logo：<input type="file" name="logo"/><br>
            商品描述：<textarea name="goods_desc" id="goods_desc"></textarea><br>
            是否上架：
            <input type="radio" name="is_on_sale" value="1" checked="checked"/>上架
            <input type="radio" name="is_on_sale" value="0"/>下架
            <br>
            <input type="submit" value="提交">
        </form>
    </div>
</div>

<include file="Admin@index:footer"/>
</body>
</html>
<script>
    //为表单绑定ajax提交的事件
    //    $("form[name=goods_form]").submit(function () {
    //        $.ajax({
    //            type:"POST",
    //            url:"__SELF__",
    //            data:$(this).serialize(),//收集表单中的数据
    //            dataType:'json',//标记服务器返回的是json数据
    //            success:function (data) {//ajax执行完之后的毁掉函数，data为服务器返回的数据
    //                if (data.status == 1){
    //                    alert(data.info);
    //                    location.href = data.url;
    //                }else {
    //                    alert(data.info);
    //                }
    //            }
    //        })
    //
    //        return false;
    //    });

    UE.getEditor('goods_desc', {
        "initialFrameWidth" : "50%",//宽
        "initialFrameHeight" : 350,//高
        "maximumWords" : 50000,//最多可以输入的字符数

    });


</script>