<layout name="Index/header_footer"/>
<div class="tab-div">
    <div id="tabbar-div">
        <p>
            <span class="tab-front" id="general-tab">通用信息</span>
        </p>
    </div>
    <div id="tabbody-div">
        <form method="post" action="__SELF__" enctype="multipart/form-data" name = 'goods_form'>
            商品名称：<input type="text" name="goods_name"/><br>
            商品价格：<input type="text" name="price"/><br>
            商品logo：<input type="file" name="logo"/><br>
            商品描述：<textarea name="goods_desc" id="goods_desc"></textarea><br>
            是否上架：
            <input type="radio" name="is_on_sale" value="1" checked="checked"/>上架
            <input type="radio" name="is_on_sale" value="0"/>下架
            <br>
            <input type="submit" value="提交">
        </form>
    </div>
</div>

<include file="Admin@index:footer"/>
</body>
</html>
<script>
    //为表单绑定ajax提交的事件
    //    $("form[name=goods_form]").submit(function () {
    //        $.ajax({
    //            type:"POST",
    //            url:"__SELF__",
    //            data:$(this).serialize(),//收集表单中的数据
    //            dataType:'json',//标记服务器返回的是json数据
    //            success:function (data) {//ajax执行完之后的毁掉函数，data为服务器返回的数据
    //                if (data.status == 1){
    //                    alert(data.info);
    //                    location.href = data.url;
    //                }else {
    //                    alert(data.info);
    //                }
    //            }
    //        })
    //
    //        return false;
    //    });

    UE.getEditor('goods_desc', {
        "initialFrameWidth" : "50%",//宽
        "initialFrameHeight" : 350,//高
        "maximumWords" : 50000,//最多可以输入的字符数

    });


</script>